<html lang="en"><head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>AIDEN - Main</title>

    <link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.6/simplex/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/vis/4.15.0/vis.min.css" rel="stylesheet">
    <style>
      /* Move down content because we have a fixed navbar that is 50px tall */
      body {
      padding: 50px;
      }


      /*
      * Global add-ons
      */

      .sub-header {
      padding-bottom: 10px;
      border-bottom: 1px solid #eee;
      }

      /*
      * Top navigation
      * Hide default border to remove 1px line.
      */
      .navbar-fixed-top {
      border: 0;
      }


      /*
      * Main content
      */

      .main {
      padding: 20px;
      }
      @media (min-width: 768px) {
      .main {
        padding-right: 40px;
        padding-left: 40px;
      }
      }
      .main .page-header {
      margin-top: 0;
      }

      tr.colorized {
        color: white !important;
      }

    </style>

  </head>

  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">AIDEN - Administration</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <p class="navbar-text">Created by Yotam Tanay</p>
          </ul>
        </div>
      </div>
    </nav>

  <div id="app"></div>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vis/4.15.0/vis.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.6/socket.io.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.14.7/react.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.14.7/react-dom.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.23/browser.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.5.1/lodash.min.js"></script>
 </head>
    <script type="text/babel">
    var socket = io();
    window.allNodes = new vis.DataSet();
    window.allEdges = new vis.DataSet();

    var ROUTE_SELECTION = [
      'LATENCY_BEST_OF_3',
      'LATENCY_BEST_OF_4',
      'LATENCY_BEST_OF_5',
      'LATENCY_BEST_OF_6',
      'GEO_NEAR_MIN',
      'GEO_NEXT_HOP',
      'LEAST_WORK_FACTORED',
      'LEAST_CARRIED_FACTORED'
    ];

    var Table = React.createClass({
      format: function(row, column, index, enumerator){
          if(column === 'INDEX')
            return enumerator;
          if(column === 'KEY')
            return index;
          return row[column];
      },

      render: function(){
        var enumerator = 0;
        return <div className={this.props.className}>
          <h2 className="sub-header">{this.props.name}</h2>
          <div className="table-responsive">
            <table className={'table table-striped'} id={this.props.id}>
              <thead>
                <tr>
                  {_.map(this.props.layout, function(column, name){
                    return <th key={column}>{name}</th>
                  })}
                </tr>
              </thead>
              <tbody>
                { _.map(this.props.limit ? _.reverse(_.takeRight(this.props.data, this.props.limit)) : this.props.data, (row, index) => {
                  var attrs = this.props.accordion ? makeAccordion(row.id, this.props) : {}
                  return [<tr {...attrs} className={this.props.rowStyle + ' ' + (this.props.colorize && 'colorized')} style={{backgroundColor: this.props.colorize && stringToColour(row.id)}} key={enumerator++}>{_.map(this.props.layout, (column) =>{
                    return <td key={column}>{this.format(row, column, index, enumerator)}</td>
                  })}</tr>, this.props.accordion && <tr>
                <td colSpan={_.keys(this.props.layout).length} className="hiddenRow">
                    <div className="accordion-body collapse packageDetails1" id={'extra-content-' + row.id}>
                      Route Selection: <kbd>{_.sample(ROUTE_SELECTION)}</kbd>, Mean time-to-pipe: <kbd>{_.random(1, 650)}ms</kbd><br/>Raw content: <code>{newId(_.random(10, 5000))}</code>
                    </div>
                </td>
            </tr>]
                })}
              </tbody>
            </table>
          </div>
        </div>

      }

    });

    function makeAccordion(id, props){
      return {
        'data-toggle': 'collapse',
        'data-parent': '#' + props.id,
        'data-target': '#extra-content-' + id
      }
    }

    var App = React.createClass({

      getInitialState: function(){
        return {
          requests: [],
          carries: [],
          errors: []
        }
      },

      componentDidMount: function(){
        $.getJSON('/nodes', (list) => {
          this.setState({nodes: list});
          allNodes.add(_.map(list, function(node, address){
            node.id = node.label = address;
            node.color = stringToColour('' + Math.random());
            node.value = node.carries;
            return node;
          }));

          networkGraph.stabilize();
          networkGraph.fit();
        });

        socket.on('node join', (data) => {
          this.state.nodes[data.address] = data.state;
          allNodes.add({
            id: data.address,
            label: data.address,
            color: stringToColour('' + Math.random()),
            value: 0
          });
          this.forceUpdate();
        })

        socket.on('request start', (data) => {
          this.state.requests.push(data);
          this.state.nodes[data.source] && this.state.nodes[data.source].requests++;
          allEdges.add({
            color: stringToColour(data.id),
            from: data.source,
            to: data.next,
            arrows: 'to',
            time: Date.now()
          });
          this.forceUpdate();
        });

        socket.on('carry', (data) => {
          this.state.carries.push(data);
          var updatedCarries = ++this.state.nodes[data.source].caries;
          allEdges.add({
            color: stringToColour(data.id),
            from: data.source,
            to: data.next,
            arrows: 'to',
            time: Date.now()
          });
          this.forceUpdate();
        });

        socket.on('error', (data) => {
          this.state.errors.push(data);
          this.forceUpdate();
        })

        window.networkGraph = new vis.Network(this.refs.networkGraph, {
          nodes: allNodes,
          edges: edgeView
        }, networkGraphOptions);


      },

      render: function() {
        return (
          <div>
            <div className="row">
              <div className="col-md-6"><h2 className="sub-header">Realtime Network State Graph</h2>
              <div ref="networkGraph"/></div>
              <Table className="col-md-6" id="requests" name={<span>Requests <small>(last 10)</small></span>} data={this.state.requests} limit={10} colorize layout={{
                  '#': 'id',
                  'Target': 'target',
                  'Next': 'next',
                  'Current': 'source',
                  'Hops': 'hops'
                }} accordion='data' rowStyle='accordion-toggle' />
            </div>
            <div className="row">
              <Table className="col-md-12" name={<span>Errors <small>(last 5)</small></span>} data={this.state.errors} limit={5} rowStyle="danger" layout={{
                    '#': 'id',
                    'Target': 'target',
                    'At': 'source',
                    'Error': 'error',
                    'Details': 'details'
                  }} />
            </div>
            <div className="row">
              <Table className="col-md-12" name={<span>Carries <small>(last 20)</small></span>} data={this.state.carries} limit={20} colorize layout={{
                    '#': 'id',
                    'Target': 'target',
                    'Next': 'next',
                    'Source': 'source',
                    'Hops': 'hops'
                  }} />
            </div>
            <div className="row">
              <Table className="col-md-12" name="All Nodes" data={this.state.nodes} layout={{
                  '#': 'INDEX',
                  'Address': 'KEY',
                  'Public key': 'key',
                  'Requests': 'requests',
                  'Carries': 'carries'
                }}
              />
            </div>
          </div>
        );
      }

    });

    var stringToColour = function(str) {

    // str to hash
    for (var i = 0, hash = 0; i < str.length; hash = str.charCodeAt(i++) + ((hash << 5) - hash));

    // int/hash to hex
    for (var i = 0, colour = "#"; i < 3; colour += ("00" + ((hash >> i++ * 8) & 0xFF).toString(16)).slice(-2));

    return colour;
}


  window.edgeView = new vis.DataView(allEdges, {
    filter: function(a){
      return (Date.now() - a.time) < 5000;
    }
  });

  setInterval(function(){
    edgeView.refresh();

  }, 1000);

  var networkGraphOptions = {
    width: '100%',
    height: '460px',
    physics: {
      barnesHut: {
        centralGravity: 0.6,
        springLength: 300
      }
    },
    nodes: {
      font: {
        color: 'white'
      }
    }
  }



    ReactDOM.render(
        <App />,
        document.getElementById('app')
      );

      var BASE64URICHARS = '0123456789ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz-_'.split('');

  var newId = function(len, radix) {
   var chars = BASE64URICHARS, newId = [], i=0;
   radix = radix || chars.length;
   len = len || 22;

   for (i = 0; i < len; i++) newId[i] = chars[0 | Math.random()*radix];

   return newId.join('');
 };

    </script>
  </body>
</html>
